@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

.start-page-container {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-end;
    @extend .align-items-stretch;
    background-image: url('/assets/images/login-screen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 1rem 1rem 2rem 1rem;
}

.version-check-spinner {
    height: 120px;
    width: 60px;
}