.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  position: fixed;
}
